body {
  padding:1em;
  color:#333;
  background-color:#efefef;
  display:flex;
  justify-content: center;
  align-items: center;
}

article { 
 text-align:center;
}

img {
  max-width:80%;
}

.pulse {
  animation-duration: 0.5s;
  animation-name: pulse;
}

@keyframes pulse {
  0% { max-width: 80%; }
  50%  { max-width: 100% } 
  100%   { max-width: 80%; }
}