body {
  padding:1em;
  color:#333;
  background-color:#efefef;
  display:flex;
  justify-content: center;
  text-align:center;
  flex-direction: column;
}

img {
  max-width:80%;
  transition: all 0.3s ease 0s;
}

.pulse {
  animation-duration: 1s;
  animation-name: pulse;
}

@keyframes pulse {
  0% { max-width: 80%; }
  50%  { max-width: 100% } 
  100%   { max-width: 80%; }
}